<section class="text-white categories mt-40 p-4">
  <h2 class="dm-serif-regular text-xl">28.09.2024</h2>
  <p class="dm-mono-regular text-slate-100">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl
    molestie lorem dignissim interdum. Morbi vel imperdiet lorem. Sed ligula
    felis, ornare in vehicula porta, pulvinar non nunc. Integer lacus risus,
    imperdiet eget varius quis, sodales dictum nulla. Ut egestas turpis et ex
    varius, ut laoreet massa sagittis. Duis at pretium purus. Curabitur
    consectetur leo a commodo iaculis. Fusce vulputate sapien at nisi porttitor,
    at facilisis sem ultrices.
  </p>
</section>
